@page
@using Microsoft.AspNetCore.Identity
@using ASPdemo.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model PortfolioModel
@{
    ViewData["Title"] = "My Portfolio";

    var skipId = ViewData["SkipId"];
    var skipPrevious = ViewData["SkipPrevious"];
    var url = "";
    var previousUrl = ""; 

    if (skipId != null)
    {
        int skipInt = Convert.ToInt16(skipId);
        int skipPreviousInt = 0;
        if (skipInt > 10)
        {
            skipPreviousInt = skipInt - 10;
        }
        skipInt = skipInt + 10; 
        url = "/Currencies/?SkipId=" + skipInt;
        previousUrl = "/Currencies/?SkipId=" + skipPreviousInt;
    }
    else
    {
        url = "/Currencies/?SkipId=" + 10;
    }
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    tbody tr:nth-child(even) {
        background: gray;
        border: 0px;
        color: #000;
    }

    tbody tr:nth-child(odd) {
        background: #0d6efd;
        color: white;
    }
</style>
<div class="text-center">
    @if (Model.userName == "" || Model.userName == string.Empty)
    {
        <h1 class="display-4" style="font-size:20px; font-weight:bold">Please login</h1>
    }
    else
    {
        <h1 class="display-4" style="font-size:20px; font-weight:bold">My Portfolio</h1>
    } 
    <h1 class="display-4" style="font-size:20px">Try it out with this address: 0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be</h1>
    <h1 class="display-4" style="font-size:20px; color: red">Warning: takes around 10 seconds to pull listings, be patient </h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <form method="post">
            <input type="text" asp-for="@Model.TempPortfolio!.WalletAddress" placeholder="Wallet Address" />
            <input type="submit" />
        </form>
    }
    @if (SignInManager.IsSignedIn(User))
    {   
        <table class="table">
            <thead>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>  
            </thead>
            <tbody>
                @foreach (Entities.PortfolioToken token in Model.PortfolioTokens)
                {
                    <tr>
                        <td>@token.TokenName</td>
                        <td>@token.TokenAmount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <a class="nav-link text-dark" id="login" asp-area="" asp-page="/Account/Login">Login</a>
    }
</div>